aiohttp==3.7.4.post0
aioredis==2.0.1
argcomplete==1.12.3
asgiref==3.4.1
async-timeout==3.0.1
attrs==21.2.0
backports.entry-points-selectable==1.1.0
black==21.9b0
certifi==2021.5.30
cfgv==3.3.1
chardet==4.0.0
charset-normalizer==2.0.6
click==8.0.1
colorama==0.4.4
commitizen==2.24.0
coverage==5.5
decli==0.5.2
distlib==0.3.3
fastapi==0.68.1
filelock==3.0.12
gitdb==4.0.7
GitPython==3.1.24
h11==0.12.0
identify==2.2.15
idna==3.2
iniconfig==1.1.1
Jinja2==3.1.1
MarkupSafe==2.1.1
motor==2.3.1
multidict==5.1.0
mypy-extensions==0.4.3
nodeenv==1.6.0
odmantic==0.3.5
packaging==21.0
pathspec==0.9.0
platformdirs==2.3.0
pluggy==1.0.0
pre-commit==2.15.0
prompt-toolkit==3.0.29
py==1.10.0
pydantic==1.8.2
pymongo==3.12.3
pyparsing==2.4.7
pytest==6.2.5
pytest-cov==2.12.1
python-dotenv==0.19.0
python-json-logger==2.0.2
PyYAML==5.4.1
questionary==1.10.0
regex==2021.9.24
requests==2.26.0
six==1.16.0
smmap==4.0.0
starlette==0.25.0
termcolor==1.1.0
toml==0.10.2
tomli==1.2.1
tomlkit==0.10.1
typing_extensions==4.1.1
ujson==5.2.0
urllib3==1.26.7
uvicorn==0.15.0
virtualenv==20.8.0
wcwidth==0.2.5
yarl==1.6.3
